@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/MyriadPro-Regular.otf') format('opentype');
}

@font-face {
  font-family: MyriadPro;
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/MyriadPro-Bold.otf') format('opentype');
}

@font-face {
  font-family: Geogrotesque;
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/Geogrotesque-SemiBold.ttf');
}

@font-face {
  font-family: Geogrotesque;
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/Geogrotesque-Bold.ttf');
}
